@import '_reset.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{}

body{
  background: #FAFAFA;
  overflow-x: hidden;

}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


#logo {
  color: red;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}


header{
	background: #FAFAFA;
	border-bottom: 1px solid #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;


}
	header a{
		box-sizing: border-box;
		width: 19.5%;
		display: inline-block;
		margin-left: -2px;
		text-align: center;
		padding: 12px;
		}
	header .fa{
		color: 111;
		font-size: 25px;
		}
	header a:hover .fa-heart{
		color: red;
		}

.container{
	background: #FAFAFA;
	padding-top: 0px;
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 0;
  border: solid 1px #ccc;
	font-family: 'Open Sans', sans-serif;
}

.container .profpic{
  border: 2px solid red;
  border-radius: 1px;
  width: 125px;
  height: 125px;
  padding-top: 10px;
  margin:auto;
}

.container .name{
  text-align: center;
}

.container .sekami{
   text-align: center;
}

.container .following{
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}


	.container .card{
		background: #fff;
		margin: 0 auto;
		max-width: 500px;
		border: 1px solid #ccc;
		border-radius: 7px;
		overflow: hidden;
		}
	.container .card-header{
		padding: 15px;

	}
		.container .card-header .profile-img{
			display: inline-block;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			position: relative;
			top: 3px;
			margin-right: 5px;
		}

		.container .card-header .profile-info{
			display: inline-block;
		}
			.container .card-header .profile-info .name{
				font-size:14px;
				color: #111;
				font-weight: 700;
			}
			.container .card-header .profile-info .location{
				font-size: 12px;
				color: #111;
			}

		.container .card-header .time{
			font-size: 10px;
			float: right;
			display: inline-block;
			top: 10px;
			position: relative;
		}

	.container .content img{
		width: 100%;
	}

	.container .card-footer{
		padding: 15px;
	}
		.container .card-footer .description{

		}

			.container .card-footer .likes{
				color: #111;
				font-size: 12px;
				padding-bottom: 10px;
			}
			.container .card-footer .description p{
				font-size: 12px;
				margin: 0;
				padding: 0 0 5px 0;
			}
				.container .card-footer .description .username{
					font-weight: 700;
				}
		.container .card-footer .comments{

		}
			.container .card-footer .comments p{
				font-size: 12px;
				margin: 0;
				padding: 0 0 5px 0;
			}
				.container .card-footer .comments .username{
					font-weight: 700;
				}
		.container .card-footer form{
			padding-top: 15px;
		}
			.container .card-footer form .heart{
				display: inline-block;
				width: 7%
		}
				.container .card-footer form .heart .fa{
					position: relative;
					top: 3px;
			}
			.container .card-footer form .add-comment{
				display: inline-block;
				width: 85%
		}
				.container .card-footer form .add-comment input{
					width: 100%;
					padding: 5px;
					font-weight: 16px;
					border: 0px solid #fff;
			}
				.container .card-footer form .add-comment input:focus{
					outline: none;
			}
			.container .card-footer form .options{
				display: inline-block;
				width: 5%;
				float: right;
		}
				.container .card-footer form .options .fa{
					position: relative;
					top: 3px;
			}
			.container .card-footer form .fa{
			font-size: 24px;
		}

		hr{
		padding: 0;
		}

    video {
    max-width: 100%;
}
